.card_container{
    background: #fff url('../../images/bg-pattern-desktop.svg') left -550px center no-repeat;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    z-index: 1;
}

.card_container_image{
    background: url('../../images/illustration-woman-online-desktop.svg') left -50px center no-repeat;
    width: 50%;
    height: 100%;
    z-index: 1000;
    overflow: visible;
}

.card_container_accordian{
    padding: 5rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}