.card_container{
    background: #fff url('../../images/bg-pattern-desktop.svg') left -550px center no-repeat;
    width: 1100px;
    height: 520px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.card_container_image{
    background: url('../../images/illustration-woman-online-desktop.svg') left -50px center no-repeat;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.imageBox{
    position: absolute;
    bottom: 170px;
    left: -80px;
}

.card_container_accordian{
    padding: 4rem 5rem 4rem 0;
    width: 50%;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.womenBox{
    display: none;
}

@media screen and (max-width: 1120px){
    .card_container {
        width: 100%;
    }
  }

@media screen and (max-width: 770px) {
    .card_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: #fff url('../../images/bg-pattern-mobile.svg') top center no-repeat;
        background-size: 280px;
        position: relative;
        z-index: 1;
    }
    .card_container_accordian{
        padding: 1.5rem;
        width: auto;
        text-align: center;
        margin-top: 3rem;
    }
    .card_container_image{
        background: none;;
        width: 100%;
        height: 100%;
    }
    .womenBox{
        display: block;
        margin: 0px auto;
        width: 280px;
        margin-top: -130px;
        position: relative;
        z-index: 999;
    }
    .imageBox{
        display: none;
    }
  }